<div class="yahei">
    <h1 class="page-title">目录</h1>
    <section class="section-box">
        <h3>demos</h3>
        <ul>
            <li>{{#link-to "demos.demo1"}}demo1{{/link-to}}</li>
            <li>{{#link-to "demos.demo2"}}demo2{{/link-to}}</li>
            <li>{{#link-to "demos.demo3"}}demo3{{/link-to}}</li>
            <li>{{#link-to "demos.demo4"}}demo4{{/link-to}}</li>
            <li>{{#link-to "demos.demo5"}}demo5{{/link-to}}</li>
            <li>{{#link-to "demos.demo6"}}demo6{{/link-to}}</li>
            <li>{{#link-to "demos.demo7"}}demo7{{/link-to}}</li>
            <li>{{#link-to "demos.demo8"}}demo8{{/link-to}}</li>
        </ul>
        <hr>
        <h3>section1</h3>
        <ul>
            <li>{{#link-to "section1.demo1"}}demo1{{/link-to}}</li>
            <li>{{#link-to "section1.demo2"}}demo2{{/link-to}}</li>
            <li>{{#link-to "section1.demo3"}}demo3{{/link-to}}</li>
            <li>{{#link-to "section1.demo4"}}demo4{{/link-to}}</li>
            <li>{{#link-to "section1.demo5"}}demo5{{/link-to}}</li>
            <li>{{#link-to "section1.demo6"}}demo6{{/link-to}}</li>
            <li>{{#link-to "section1.demo7"}}demo7{{/link-to}}</li>
        </ul>
        <hr>
        <h3>section2</h3>
        <ul>
            <li>{{#link-to "section2.demo1"}}demo1{{/link-to}}</li>
        </ul>
    </section>
</div>
