<h3>demo9 测试 自定义组件 my-radios</h3>

{{my-radios
    content=model.list
    value=model.curr.val
    name=model.curr.name
}}

<button {{action "press" model.curr}} class="btn btn-default">press</button>
