{{!-- 组件 --}}
<ul>
    {{#each model as |user index|}}
    <li>
        <span>{{user.id}}</span>
        <span>{{user.name}}</span>
        <span>{{user.age}}</span>
    </li>
    {{else}}
    <li>暂无数据</li>
    {{/each}}
</ul>

{{#mylink-to href="https://www.baidu.com" class="btn btn-default"}}mylink-to{{/mylink-to}}
