<h3 class="page-title-s1">demo4 测试 项目服务模块 services 的使用 / <a href="http://www.programwitherik.com/ember-services-tutorial/">demo出处</a></h3>

<section class="section-box">
    <h4>使用了 app/services/start.js [手动注入 / 初始化自动注入]</h4>

    <div>
        <button {{action "press"}} class="btn">press</button>
    </div>
    <div>
        <h3>{{message}}</h3>
        <h3>{{navmsg}}</h3>
    </div>
</section>
